body{
    font-size: 16px;
    text-align:center;
    text-decoration:double;
}
h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
p{
    font-weight: 600;
    font-size: 3em;
}
ul{
    color: blue;
}
.test{
    background-color: aqua;
}
#test2{
    background-color:blue;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}
