.pokedex {
  width: 95%;
  border: solid 5px rgb(0, 0, 0, .3);
  border-radius: 25px;
  margin: 100px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}